body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #b85781, #730101); 
  min-height: 100vh;
  color: #333;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #8b003f; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}


.hero-section {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 60px; 
  
  
  background: rgba(0, 0, 0, 0.2); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
}


.btn-primary {
  background: #333;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-secondary {
  background: white;
  color: #333;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px 5%;
}

.info-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-btns {
    flex-direction: column;
  }
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.auth-card {
  background: rgba(255, 255, 255, 0.1); /* Эффект стекла */
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.auth-card h2 { margin-bottom: 20px; text-align: center; }

.auth-form { display: flex; flex-direction: column; gap: 15px; }

.auth-form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}

.auth-btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #333;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover { background: #555; }